*{
    margin: 10px auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;

}
#tp{
    width: 1100px;
}
.left{
    width: 700px;
    height: 930px;
    float: left;
}
.right{
    width: 350px;
    height: 300px;
    margin: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    float: right;
    text-align: right;
    background: red;
}